<!--
login page setting

a panel for setitngs of login widget. Following options could be set:
- forgot password link?
- register button?


Created by mgh.
-->
<md-list class="wb-setting-panel"> <!-- corner radius section -->

	<md-subheader class="md-no-sticky">Before login</md-subheader>

	<!-- Is link to forgotten password page shown? -->
	<wb-ui-setting-on-off-switch 
		title="Forgot password link?" 
		icon="vpn_key" 
		value="wbModel.content.forgot_password">
	</wb-ui-setting-on-off-switch>
	<!-- Is register button (which links to register page) shown? -->
	<wb-ui-setting-on-off-switch 
		title="Register button?" 
		icon="person_add" 
		value="wbModel.content.register">
	</wb-ui-setting-on-off-switch>
	
	<md-subheader class="md-no-sticky">After login</md-subheader>

	<!-- Is link to user area page shown? -->
	<wb-ui-setting-on-off-switch 
		title="Profile link?" 
		icon="account_circle" 
		value="wbModel.content.user_area">
	</wb-ui-setting-on-off-switch>
	<wb-ui-setting-on-off-switch 
		title="Account link?" 
		icon="account_circle" 
		value="wbModel.content.account">
	</wb-ui-setting-on-off-switch>
	<!-- Is register button (which links to register page) shown? -->
	<wb-ui-setting-on-off-switch 
		title="Logout button?" 
		icon="settings_power" 
		value="wbModel.content.logout">
	</wb-ui-setting-on-off-switch>

</md-list>
