<!-- ویجت لاگین کاربر -->
<div layout="column">
	<md-progress-linear
		ng-disabled="!(ctrl.loginProcess || ctrl.logoutProcess)"
		style="margin: 0px; padding: 0px"
		md-mode="indeterminate"
		class="md-primary"
		md-color>
	</md-progress-linear>
	<!-- body -->
	<!-- Messages -->
	<div style="text-align: center;"
		layout-margin
		ng-show="!ctrl.loginProcess && ctrl.loginState === 'fail'"> 
		<p><span md-colors="{color:'warn'}" translate>{{loginMessage}}</span></p>
	</div>
	<!-- Login Form -->
	<form ng-show="appUser.anonymous"
		name="ctrl.myForm"
		ng-submit="login(credit)" 
		layout="column" 
		layout-margin>
        <md-input-container>
            <label translate>Username</label>
            <input ng-model="credit.login" name="username" required>
            <div ng-messages="ctrl.myForm.username.$error">
				<div ng-message="required" translate>This field is required.</div>
	        </div>
        </md-input-container>
        <md-input-container>
            <label translate>Password</label>
            <input ng-model="credit.password" type="password" name="password" required>
            <div ng-messages="ctrl.myForm.password.$error">
				<div ng-message="required" translate>This field is required.</div>
	        </div>
        </md-input-container>
<!-- 			<amh-captcha -->
<!-- 			    ng-model="credit.g_recaptcha_response">Hi -->
<!-- 			</amh-captcha> -->
		<!-- XXX: maso, 2018: adding captcha -->
		<div
			ng-if="app.captcha.engine==='recaptcha'"
		    vc-recaptcha
		    ng-model="credit.g_recaptcha_response"
		    theme="app.captcha.theme || 'light'"
		    type="app.captcha.type || 'image'"
		    key="app.captcha.recaptcha.key"
		    lang="app.captcha.language || 'fa'">
		</div>
        <input hide type="submit" />
	</form>
	<div ng-show="appUser.anonymous"
		layout="column" layout-align="none"
       	layout-gt-xs="row" layout-align-gt-xs="center center"
       	layout-margin>
       	<a ng-show="wbModel.content.forgot_password"
       		href="users/reset-password"
       		style="text-decoration: none;"  
       		ui-sref="forget" 
       		flex-order="1" 
       		flex-order-gt-xs="-1">{{'forgot your password?' | translate}}</a>
       	<md-button 
       		ng-disabled="ctrl.myForm.$invalid"
       		flex-order="-1" 
       		flex-order-gt-xs="1" 
       		class="md-primary md-raised" 
       		ng-click="login(credit)">{{'login' | translate}}</md-button>
       	<md-button ng-show="wbModel.content.register"
       		ng-href="users/signup"
       		flex-order="0" 
       		flex-order-gt-xs="0" 
       		class="md-raised"> {{ 'sign up' | translate }} </md-button>
       </div>
	<!-- Logged in user info -->
	<div layout-margin ng-show="!appUser.anonymous" 
		layout="column" layout-align="none center">
		<img style="max-width: 150px;border-radius: 50%"
			src="{{'/api/user/'+appUser.current.id+'/avatar'}}" />
		<span>{{appUser.current.first_name}} {{appUser.current.last_name}}</span>
		<h3>{{appUser.current.login}}</h3>
	</div>
	<!-- Links after login -->
	<div ng-show="!appUser.anonymous" 
		layout="column" layout-align="none"
		layout-gt-xs="row" layout-align-gt-xs="center center"
		layout-margin>
		<md-button ng-show="wbModel.content.logout"
			ng-click="logout()"
			flex-order="0" 
			flex-order-gt-xs="0" 
			class="md-raised md-accent">
<!-- 			<wb-icon>power_settings_new</wb-icon>  -->
			{{'Logout' | translate}}
		</md-button>
		<md-button ng-show="wbModel.content.user_area"
			ng-href="users/profile"
			flex-order="1" 
			flex-order-gt-xs="-1" 
			class="md-raised">
<!-- 			<wb-icon>contacts</wb-icon>  -->
			{{'Profile' | translate}}
		</md-button>
		<md-button ng-show="wbModel.content.account"
			ng-href="users/account"
			flex-order="1" 
			flex-order-gt-xs="-1" 
			class="md-raised">
<!-- 			<wb-icon>account_circle</wb-icon>  -->
			{{'Account' | translate}}
		</md-button>
	</div>

</div>
	
	
	