/*
 * Preloading class: adding into the elements automatically in preload
 * process.
 */
.amh-preload {
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader/preloader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}
